#offcanvasRightLabel {
  position: relative;
  left: 17px;
  top: 20px;
  font-size: 32px;
  letter-spacing: .055em;
  font-weight: 400;
  font-family: var( DM Serif Display);
  font-weight: 700;
  font-family: var(Overpass),"Arial","sans-serif"; /*bunu ara yazısı içinde uygulayabiliriz eşitlemesi için*/
}

.ct-login {
  position: relative;
  bottom: -80px;
}


body {
  font-family: "Lato", sans-serif;
  transition: background-color.5s;
}
#r {
  position: relative;  
  left: 170px;
  bottom: -1px;
  
}

#sb {
  position : relative;
  margin-left: 165px;
  top: 12px;
  width: 550px;
  height: 45px;
  background-color: white;
  box-shadow: 0 0 6px 4px rgb(237, 234, 234); 
  border:  2px white ;
  border-radius: 11px;
}
#sb::-webkit-input-placeholder { color : grey}
#sb::-webkit-input-placeholder{
  position: relative;
  bottom: 3px;
}
#sb:-moz-placeholder {color : rgb(128, 128, 128) }
#sb:-ms-input-placeholder { color : rgb(128, 128, 128) }
#btsearch {
  position: relative;
  width: 40px;
  height: 25px;
  left: -50px;
  top: 4px;
  border: white;
}
:root {
  color: white;
}
 
#emaillabel {
  position: relative;
  left: 20px;
  bottom: 75px;
}
#ep{
  position: relative;
  bottom: 0px;
}
#yıldız1 {
  position: relative;
  color: red;
  bottom: 3px;
}
#email {
  width: 350px;
  position: relative;
  left: 20px;
  bottom: 60px;
  height: 50px;
}
#f2g {
  position: relative;
  left: 20px;
  bottom: 30px;
}
#yıldız {
  position: relative;
  color: red;
  bottom: 10px;
}
#pswi {
  width: 350px;
  height: 50px;
  bottom: 10px;
}
#login {  
  position: relative;
  left: 20px;
  bottom: 5px; 
}
#üyeg {
  background-color: #293355;
  color: white;
  width: 350px;
  height: 60px;
  text-align: center;
  left: 5px;
  top: 5px;
  
  
}
#üyeg:hover{
  background-color: white;
  color: black;
}
#pswun {
  position: relative;
  bottom: 0px;
  color: black;
  left: 10px;
  font-size: small;
  position: relative;
  top: 10px;
   
}
#üyeol {
  position: relative;
  background-color:white;  
  color: black;
  width: 350px;
  height: 60px;
  text-decoration: none;
  text-align: center;
  left: 20px;
  top: 20px;
  box-shadow: 0 -1px 7px 1px #0003;
  
  font-size: 17px;
}
#üyeol:hover{
  background-color: #293355;
  color: white;
}
#sp{  
  position: relative;
  left: 0px;
  bottom: -10px;
}
#svg{
  position: relative;
  bottom: -11px;
  right: 45px;
  color: black;
  text-decoration: none;
  font-size: 14px;
} 
#svg:hover {
  color:black;
  text-decoration: underline
}

