.title {
    position: relative;
    left: 660px;
    color: black;
    font-size: 27px;
    bottom: -17px;
    font-weight: bold;
}

.img-box {
    float: left;
    margin-left: 20px;
}

#box {
    position: relative;
    left: 150px;
    width: 1200px;
    padding-top: 100px;
}
#imgbox {
    height: 220px;
    
}
.shop_link {
    color: #505050;
    position: relative;
    left: 65px;
    text-decoration-line: none;
}
.shop_link:hover {
    color: #505050;
    text-decoration-line: underline;
}
#katagori4 {
    position: relative;
    left: 80px;
}
#katagori2 {
    position: relative;
    left: 50px;
}