body {
    font-family: "Lato", sans-serif;
    transition: background-color.5s;
  }
  
  .sidenav {
    height: 100%;
    position: fixed;
    width: 0;
    z-index: 1;
    top: 0;
    left:1150px;
    background-color:white;
    overflow-x: hidden;
    transition: -0.5s;
    padding-top: 60px;
    
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #191414;
  }
  
  .sidenav .closebtn {
    position: relative;
    top: -65px;
    right: -212px;
    font-size: 28px;
    margin-left: 50px;
    color:grey;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  #sp{
  
    position: relative;
    left: 1200px;    
  } 
  #k{
    position: relative;
    top: -5px;
    right: 5px;
    font-size: 15px;
    color: grey;
  }
  #o{
    position: relative;
    left: 30px;
    top: -80px;
    font-size: 32px;
    letter-spacing: .055em;
    font-weight: 400;
    font-family: var( DM Serif Display);
    font-weight: 700;
    font-family: var(Overpass),"Arial","sans-serif"; /*bunu ara yazısı içinde uygulayabiliriz eşitlemesi için*/
  }
  
