body {
    font-family: "Lato", sans-serif;
    transition: background-color.5s;
  }
  
  .sidenav {
    height: 100%;
    position: fixed;
    width: 0;
    z-index: 1;
    top: 0;
    left:1150px;
    background-color:white;
    overflow-x: hidden;
    transition: -0.5s;
    padding-top: 60px;
    
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #191414;
  }
  
  
  .sidenav .closebtn {
    position: relative;
    top: -65px;
    right: -212px;
    font-size: 28px;
    margin-left: 50px;
    color:grey;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  #sp{
  
    position: relative;
    left: 0px;
    bottom: -10px;
       
  } 
  #ka{
    position: relative;
    top: -5px;
    right: 5px;
    font-size: 15px;
    color: grey;
  }
  #o{
    position: relative;
    left: 30px;
    top: -80px;
    font-size: 32px;
    letter-spacing: .055em;
    font-weight: 400;
    font-family: var( DM Serif Display);
    font-weight: 700;
    font-family: var(Overpass),"Arial","sans-serif"; /*bunu ara yazısı içinde uygulayabiliriz eşitlemesi için*/
  }
  #r {
    position: relative;
  
  left: 170px;
  bottom: -1px;
  }
  #sb {
    position : relative;
    margin-left: 165px;
    top: 12px;
    width: 550px;
    height: 45px;
    background-color: white;
    box-shadow: 0 0 6px 4px rgb(237, 234, 234); 
    border:  2px white ;
    border-radius: 11px;
  }
  #sb::-webkit-input-placeholder { color : grey}
  #sb::-webkit-input-placeholder{
    position: relative;
    bottom: 3px;
  }
  #sb:-moz-placeholder {color : grey }
  #sb:-ms-input-placeholder { color : grey }
  
  #uc{
    position: relative;
    margin-left: 142px;
    font-size: 13.78px;
    font-weight: bold;
    
   }
  ul li{
       padding-left: 32px;
     
  }
  #k{
    color: black;
  } 
  #navbarNavDropdown{
    background-color: white;
    
    
  }
  #svg{
    position: relative;
    bottom: -11px;
    right: 45px;
    color: black;
    text-decoration: none;
    font-size: 14px;
  }
  a 
  {
    text-decoration:none;
    position:relative;
  } 
  a::before{
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    width:0px;
    height:3px;
    background:#000;
    opacity:0;
    -webkit-transition: width 2s; 
      transition: width 2s;
  }
  
  a:hover {
  color: black;
  text-decoration: underline;
  text-underline-position: under;
  opacity:1;
  width:100%;
  
  }
  #svg:hover {
  color:black;
  text-decoration: underline}

  #btsearch {
    position: relative;
    width: 40px;
    height: 25px;
    left: -40px;
    top: 1px;
    border: white;
  }
  :root {
    color: white;
  }

  #email {
    width: 300px;
    position: relative;
    left: 35px;
    bottom: 40px;
  }
  #emaillabel {
    position: relative;
    left: 35px;
    bottom: 40px;
  }
  #f2g {
    position: relative;
    left: 35px;
    bottom: 10px;
  }
  #pswi {
    width: 300px;
  }
  #yıldız {
    color: red;
  }
  #login {
   
   
    position: relative;
    left: 35px;
    bottom: -10px; 
  }
  #üyeg {
    background-color: #293355;
    color: white;
    width: 300px;
    height: 50px;
  }
  #üyeol {
    background-color: #293355 ;
    color: white;
    width: 300px;
    position: relative;
    left: 35px;
    bottom: -30px;
    text-decoration: none;
    font-size:medium;
    align-items: center;

    
  }
  #pswun {
    font-size: small;
    position: relative;
    left: -20px;
  }
  #cd {
    border-bottom: 1px  solid lightgray;
  }